<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="collapse navbar-collapse" >
		<ul class="navbar-nav mr-auto" *ngIf="role === 'admin'">
			<li class="nav-item"> 
				<a class="nav-link" [routerLink]="['/home']">Home</a>
			</li>
		</ul>
		<ul class="navbar-nav mr-auto" *ngIf="role === 'editor'">
			<li class="nav-item"> 
				<a class="nav-link" [routerLink]="['/home']">Home</a>
			</li>
		</ul>
		<ul class="navbar-nav mr-auto" *ngIf="role === 'reviewer'">
			<li class="nav-item"> 
				<a class="nav-link" [routerLink]="['/home']">Home</a>
			</li>
		</ul>
		<ul class="navbar-nav mr-auto" *ngIf="role === 'author'">
			<li class="nav-item"> 
				<a class="nav-link" [routerLink]="['/home']">Home</a>
			</li>
			<li class="nav-item"> 
				<a class="nav-link" [routerLink]="['/journals']">Jorunals</a>
			</li>
			<li class="nav-item"> 
				<a class="nav-link" [routerLink]="['/home']">My Articles</a>
			</li>
		</ul>
		<ul class="navbar-nav mr-auto" *ngIf="role === 'buyer'">
			<li class="nav-item"> 
				<a class="nav-link" [routerLink]="['/home']">Home</a>
			</li>
			<li class="nav-item"> 
				<a class="nav-link" [routerLink]="['/journals']">Journals</a>
			</li>
			<li class="nav-item"> 
				<a class="nav-link" [routerLink]="['/editions']">Editions</a>
			</li>
			<li class="nav-item"> 
				<a class="nav-link" [routerLink]="['/articles']">Articles</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<label class="nav-link active">{{username}}&nbsp;&nbsp;&nbsp;</label>
			</li>
			<li>
				<button class="btn btn-secondary" (click)="logout()">Logout</button>
			</li>
		</ul>
	</div>
</nav>
  