<div class="row justify-content-md-center">
  <!--div class="col-md-8" *ngIf="article">
    <h2>{{article.name}}</h2>
    <table class="table" id="articleInfo" border="0">
      <tbody>
        <tr>
          <th class="col-md-4">Journal: </th>
          <td class="col=md-8">{{article.journal}}</td>
        </tr>
        <tr>
          <th class="col-md-4">Edition: </th>
          <td class="col=md-8">{{article.edition}}</td>
        </tr>
        <tr>
          <th class="col-md-4">Scientific area: </th>
          <td class="col=md-8">{{article.area}}</td>
        </tr>
        <tr id="authors" *ngFor="let author of article.authors; let i = index">
          <th class="col-md-4" *ngIf="i === 0">Authors: </th>
          <td class="col=md-8">{{author}}</td>
        </tr>
        <tr>
          <th class="col-md-4">Author: </th>
          <td class="col-md-8">{{article.author}}</td>
        </tr>
      </tbody>
    </table>
    <h3>{{article.price}} {{article.currency}}</h3>
    <button class="btn btn-primary" (click)="buy()" *ngIf="article.buy">Buy</button>
    <button class="btn btn-primary" (click)="read()" *ngIf="!article.buy">Read</button>
  </div-->

  <div class="card border-primary box w-50" *ngIf="article">
    <div class="card-header">
      <h2><b>{{article.name}}</b></h2>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h5 class="card-title"><b>Journal: </b></h5>
          <p class="card-subtitle">{{article.journal}}</p>
        </li>
        <li class="list-group-item">
          <h5 class="card-title"><b>Edition: </b></h5>
          <p class="card-subtitle">{{article.edition}}</p>
        </li>
        <li class="list-group-item">
          <h5 class="card-title"><b>Scientific area: </b></h5>
          <p class="card-subtitle">{{article.area}}</p>
        </li>
        <li class="list-group-item">
          <h5 class="card-title"><b>Author: </b></h5>
          <p class="card-subtitle">{{article.author}}</p>
        </li>
        <ul class="list-group list-group-flush" *ngIf="article.buy">
          <li class="list-group-item">
            <h5 class="card-title"><h3><b>Price: </b>{{article.price}} {{article.currency}}</h3></h5>
          </li>
        </ul>
      </ul>
    </div>
    <div class="card-footer">
      <div class="btn-toolbar">
        <div class="btn-group mr-2" *ngIf="article.buy">
          <button class="btn btn-primary" (click)="buy()">Buy</button>
        </div>
        <div class="btn-group mr-2" *ngIf="!article.buy">
          <button class="btn btn-danger" (click)="read()">Read</button>
        </div> 
      </div>
    </div>
  </div>
</div>

